[submodule "subs/submodules/shell_scripts"]
	path = subs/submodules/shell_scripts
	url = git@github.com:edftechnology/shell_scripts.git
	branch = main
[submodule "subs/submodules/codex_configuration_scripts"]
	path = subs/submodules/codex_configuration_scripts
	url = git@github.com:edftechnology/codex_configuration_scripts.git
	branch = main
[submodule "subs/submodules/gemini_configuration_scripts"]
	path = subs/submodules/gemini_configuration_scripts
	url = git@github.com:edftechnology/gemini_configuration_scripts.git
	branch = main
[submodule "subs/submodules/git_scripts"]
	path = subs/submodules/git_scripts
	url = git@github.com:edftechnology/git_scripts.git
	branch = main
[submodule "subs/submodules/python_scripts"]
	path = subs/submodules/python_scripts
	url = git@github.com:edftechnology/python_scripts.git
	branch = main
[submodule "subs/submodules/markdown_scripts"]
	path = subs/submodules/markdown_scripts
	url = git@github.com:edftechnology/markdown_scripts.git
	branch = main
[submodule "subs/submodules/txt_scripts"]
	path = subs/submodules/txt_scripts
	url = git@github.com:edftechnology/txt_scripts.git
	branch = main
[submodule ".github/workflows"]
	path = .github/workflows
	url = git@github.com:edftechnology/workflows.git
	branch = main
[submodule ".vscode"]
	path = .vscode
	url = git@github.com:edftechnology/.vscode.git
	branch = main
